@keyframes warn-text {
  0% {
    color: #70544f;
    font-size: 22px;
  }
  12.5% {
    font-size: 23px;
    color: crimson;
  }
  25% {
    color: #70544f;
    font-size: 22px;
  }
  37.5% {
    font-size: 23px;
    color: crimson;
  }
  50% {
    color: #70544f;
    font-size: 22px;
  }
  62.5% {
    font-size: 23px;
    color: crimson;
  }
  75% {
    color: #70544f;
    font-size: 22px;
  }
  87.5% {
    font-size: 23px;
    color: crimson;
  }
  100% {
    color: #70544f;
    font-size: 22px;
  }
}
